# Local Terraform files
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Ignore all .tfvars files, but not .tfvars.sample files
!*.tfvars.sample

# Crash log files
crash.log

# Local go build output
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac system files
.DS_Store